{% extends "base.html.twig" %}
{% block content %}
	{{form_start(form,  {'attr': {'class': 'container mx-auto'}})}}
	<div class="bg-slate-800 p-3 rounded">
		<div class="mb-4">
			{{form_label(form.picture,"Image de l'article", {'label_attr': {'class': 'form-label'}})}}
			{{form_widget(form.picture, {'attr': {'class':'form-widget-file'}})}}
		</div>
		<div class="flex space-x-2 mb-4">
			<div class="w-full">
				{{form_label(form.title,"Titre de l'article", {'label_attr': {'class': 'form-label'}})}}
				{{form_widget(form.title, {'attr': {'placeholder': 'Titre de l\'article', 'class':'form-widget'}})}}
				<span class="text-red-500">{{ form_errors(form.title) }}</span>
    </div>
       <div class="w-full">
	{{form_label(form.categories,"Sélectionnez les catégories", {'label_attr': {'class': 'form-label block'}})}}
	{{form_widget(form.categories, {'attr': {'class': 'form-widget'}})}}
    </div>
    </div>
    <div class="mb-4">
	{{form_label(form.description,"Description de l'article", {'label_attr': {'class': 'form-label'}})}}
	{{form_widget(form.description, {'attr': {'placeholder': 'Description de l\'article', 'class':'form-widget h-32'}})}}
	</div>
	<div class="mb-4">
		{{form_label(form.content,"Contenu de l'article", {'label_attr': {'class': 'form-label'}})}}
		{{form_widget(form.content, {'attr': {'placeholder': 'Contenu de l\'article', 'class':'form-widget  h-64'}})}}
			</div>
			<div class="mb-4 flex items-center space-x-2">
				{{form_label(form.isPublished,"Publier", {'label_attr': {'class': 'text-sm font-medium text-white'}})}}
				{{form_widget(form.isPublished, {'attr':{'class':'w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500'}})}}
			</div>
			<div class="mb-4 flex justify-end">
				<button class="btn" type="submit">Enregistrer</button>
			</div>
		</div>

		{{form_end(form)}}
	{% endblock %}
