{% extends 'base.html.twig' %}

{% block title %}
	Gestion des articles |
	{{parent()}}
{% endblock %}
{% block content %}
	<div class="admin-table text-white pt-10">
        <div class="flex justify-end">
            <a href="/add" class="btn rounded">Ajouter</a>
        </div>
        <h1 class="font-gothic text-2xl font-semibold text-center mb-4">Liste des articles</h1>
		<table class="table-auto w-full border-spacing-2 border border-white border-collapse">
			<thead class="text-left bg-metablue-400">
				<tr>
					<th>#</th>
					<th>Titre</th>
					<th>Description</th>
					<th>Publier</th>
					<th>Date de publication</th>
					<th>Date de modification</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% set i = 1 %}
				{% for article in articles %}
					<tr>
						<td>{{i}}</td>
						<td>{{article.title}}</td>
						<td>{{article.description}}</td>
						<td>
							<span class="text-white w-9 rounded h-6 flex justify-center items-center {{article.isPublished ? " bg-metablue-400": " bg-red-500"}}">{{article.isPublished ? "Oui": "Non"}}</span>
						</td>
						<td>{{article.publicationDate | date('d/m/y')}}</td>
						<td>{{article.lastUpdateDate  | date('d/m/y')}}</td>
						<td>
							<div class="flex justify-center gap-3">
								<a href="{{ path('edit_article', {'id': article.id}) }}" class="table-btn bg-gradient-to-r from-metablue-100  to-metablue-400 hover:bg-blue-800">
									<i class="fa-solid fa-pen"></i>
								</a>
								<a class="table-btn bg-red-500" href="{{ path('remove_article', {'id': article.id}) }}">
									<i class="fa-solid fa-trash"></i>
								</a>
							</div>
						</td>
					</tr>
					{% set i = i+1 %}
				{% endfor %}
			</tbody>
		</table>
		​
	</div>
{% endblock %}
