<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Metalic
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="{{asset('/css/main.css')}}">
		{% endblock %}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	</head>
	<body>
		{% for message in app.flashes('success') %}
			<div class="bg-metablue-400 absolute top-1 p-2 text-white  left-1/2 transform -translate-x-1/2 alert transition-all ease-in-out 300ms" role="alert">
				{{ message }}
			</div>
		{% endfor %}
		<header class="bg-dark-300 container-app">
			{% include "layouts/menu.html.twig" %}
			{% block hero %}{% endblock %}
		</header>
		<main class="bg-dark-500 py-10 px-2 lg:px-10 xl:px-20"> {% block content %}{% endblock %}
			</main>
			{% include "layouts/footer.html.twig" %}
			{% block javascripts %}
				{#{{ encore_entry_script_tags('app') }}#}
				{# {{ encore_entry_script_tags('app') }} #}
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
			{% endblock %}
		</body>
		<script src="{{asset('/js/app.js')}}"></script>
		<script>
		$(document).ready(function () {
		$(".alert").delay(5000).slideUp(300);
		});
		</script>
	</html>
</body></html>
